<!DOCTYPE html>
<html>
<head>
    <title>Task Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Task Management System</h1>

<input type="text" id="taskInput" placeholder="Enter Task">
<button onclick="addTask()">Add</button>

<ul id="taskList"></ul>

<script>
let tasks = JSON.parse(localStorage.getItem("tasks")) || [];

function saveTasks() {
    localStorage.setItem("tasks", JSON.stringify(tasks));
}

function displayTasks() {
    let list = document.getElementById("taskList");
    list.innerHTML = "";

    tasks.forEach((task, index) => {
        let li = document.createElement("li");

        li.innerHTML = `
            <input type="checkbox" ${task.done ? "checked" : ""}
            onchange="toggleTask(${index})">

            <span style="text-decoration:${task.done ? 'line-through':'none'}">
                ${task.text}
            </span>

            <button onclick="deleteTask(${index})">Delete</button>
        `;

        list.appendChild(li);
    });
}

function addTask() {
    let input = document.getElementById("taskInput");

    if (input.value.trim() !== "") {
        tasks.push({
            text: input.value,
            done: false
        });

        input.value = "";
        saveTasks();
        displayTasks();
    }
}

function toggleTask(index) {
    tasks[index].done = !tasks[index].done;
    saveTasks();
    displayTasks();
}

function deleteTask(index) {
    tasks.splice(index, 1);
    saveTasks();
    displayTasks();
}

displayTasks();
</script>

</body>
</html>
